<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_ZAHIR_5-0"/>
		<add key="appfolder" value="ZahirAutomation"/>
		<add key="erpappnamepath" value="C:\Program Files (x86)\Zahir Accounting 6\ZahirApp6.exe"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="datapicturefolder" value="pic"/>
		<add key="screenshotlogfolder" value ="log"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="loginId" value="jack"/>
		<add key="password" value="12345"/>
		<add key="scale" value="100"/>
		<add key="dbpath" value="C:\Program Files (x86)\CPSSoft\ACCURATE5 Standard\Sample"/>
		<add key="xPosWelcome" value="0"/>
		<add key="yPosWelcome" value="0"/>
		<add key="uploadtosandbox" value="Y"/>
	</appSettings>
</configuration>